{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- MATERIALIZE STARTS HERE -->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- MATERIALIZE ENDS -->
    <link rel="icon" href="../../favicon.ico">

    <title>Create Account - DashPorter</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Local CSS -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social.css">

    <!-- Custom styles for this template -->
    <!-- <link href="dashboard.css" rel="stylesheet"> -->

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <body style="margin-bottom:0px;">
    
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
<!--       <button style="margin-left:10px;" class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 -->      <!-- <a class="navbar-brand" href="#">DashPorter</a> -->
      <img src="{% static 'Logo.png' %}" style="width:50px !important; margin:auto; display:block;">

      <!-- <img src="Images/Logo.jpg" style="float:right; width:40px !important; display:block; margin-bottom:0px; margin-top:0px; margin-right:50px;"> -->
       <!-- <form class="form-inline mt-2 mt-md-0 hidden-sm-down" method="GET" style="margin-top:50px;" action="/home"> -->
          <!-- <button class="btn btn-outline-danger my-2 my-sm-0" style="margin-top:30px;" type="submit">EMERGENCY SERVICES</button> -->
        <!-- </form> -->

    </nav>   
  <!-- MOBILE VS WEB -->
    <!-- Margin-Top: 30px for mobile, 80 px for web -->


    <!-- WEB CONTAINER DIV -->
    <div class="container hidden-sm-down" id="web" style="margin-bottom:30px !important; width:400px; margin-top:80px;">
      <form class="form-signin" action="#" method="POST" style="margin-top:0px; margin-bottom:5px;">{% csrf_token %}
        <!-- <img src="Images/Logo.jpg" style="width:200px !important; margin-left:50px !important; margin-bottom:0px; margin-top:0px;"> -->
        <h2 style="text-align:center;">Create Account</h2>
        <br>
        <input placeholder="First Name" name="first_name" type="text" class="validate">        
        <input placeholder="Last Name" name="last_name" type="text" class="validate">
        <input placeholder="Email/Username" name="email" type="text" class="validate">        
        <input placeholder="Phone Number" name="number" type="text" class="validate">        
        <input placeholder="Password" name="p_word" type="password" class="validate">        
        <input placeholder="Re-type Password" name="p_word_2" type="password" class="validate">
        {{Empty_Input}}        
        <br><br>
        <div style="margin-top:5px; margin:auto;">       
        <input type="submit" class="btn btn-block btn-social btn-primary" value="Create Account" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" name="create_account" >
        <p>{{PWord_Error}}</p>
        </div>
      </form>
    </div>

    <!-- MOBILE CONTAINER DIV -->
    <div class="container hidden-sm-up" id="web" style="margin-bottom:30px !important; width:300px; margin-top:30px;">
      <form class="form-signin" action="#" method="POST" style="margin-top:0px; margin-bottom:5px;">
        <!-- <img src="Images/Logo.jpg" style="width:200px !important; margin-left:50px !important; margin-bottom:0px; margin-top:0px;"> -->
        <h2 style="text-align:center;">Create Account</h2>
        <br>
        <input placeholder="First Name" name="first_name" type="text" class="validate">        
        <input placeholder="Last Name" name="last_name" type="text" class="validate">
        <input placeholder="Email/Username" name="email" type="text" class="validate">        
        <input placeholder="Password" name="p_word" type="text" class="validate">        
        <input placeholder="Re-type Password" name="p_word_2" type="text" class="validate">        
        <br><br>
        <div style="margin-top:5px; margin:auto;">       
        <input type="submit" class="btn btn-block btn-social btn-primary" value="Create Account" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" name="s-login" >
        </div>
      </form>
    </div>

 
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
