{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>
    <!-- BOOTSTRAP -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- {% load staticfiles %} -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button style="margin-left:10px;" class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">DashPorter</a>
      <!-- <img src="Images/Logo.jpg" style="float:left; width:40px !important; display:block; margin-bottom:0px; margin-top:0px; margin-right:50px;"> -->
<!--       <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-car">Add Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="" name="log_out" href="/logout">Log Out</a>
          </li>
        </ul> -->
        </div>
        <form class="form-inline mt-2 mt-md-0 hidden-sm-down" method="GET" style="margin-top:50px;">
          <button class="btn btn-outline-success my-2 my-sm-0" style="float:right; margin-top:30px;" type="submit">Routine Maintenance</button>
        </form>
    </nav>   

    <div class="container-fluid">
      <div class="row">

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-1 pt-3" style="margin-left:60px; margin-top:120px;">
          <div class="responsive hidden-sm-down">
          <h2>Emergency Services</h2>
          <!-- <div class="hidden"> -->
          <section class="row text-center placeholders" style="margin-left:-10px;">
            <div class="col-6 col-sm-2 placeholder" style="text-align:center; margin-right:30px; padding-right:0px;">
            <!-- {% load staticfiles %} -->
              <img style="margin-bottom:15px;" 
              src="{% static 'DashPorter/Tow_Truck.png' %}" width="159" class="img-fluid" alt="Generic placeholder thumbnail">
              <h4>Tow Truck</h4>
              <div style="margin:auto;" class="text-muted">Service Description, ETA, Price Estimate</div>
              <!-- <input class="btn btn-success" type="submit" name="oil_change_btn" value="Request Service"> -->
              <button style="margin-top:10px; " type="button" data-toggle="modal" data-target="#tow_service" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="margin-right:30px;">
              <img style="margin-bottom:15px;"  
              src="{% static 'DashPorter/Tire_Change.png' %}" width="200" height="200" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Flat Tire</h4>
              <div style="margin:auto;" class="text-muted">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#flat_tire" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="margin-right:30px;">
              <img style="margin-bottom:15px;"
              src="{% static 'DashPorter/Lockout_Square.png' %}" width="200" height="150" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Lockout</h4>
              <div class="text-muted" style="margin:auto;">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#lockout" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="text-align:center; margin-right:30px;">
              <img style="margin-bottom:15px;"
              src="{% static 'DashPorter/Battery.jpg' %}" width="200" height="150" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Jump Start</h4>
              <div class="text-muted" style="margin:auto;">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#jump_start" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="">
              <img style="margin-bottom:15px;" src="{% static 'DashPorter/Gas_Change.png' %}" width="200" height="200" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Gas Service</h4>
              <div style="margin:auto;" class="text-muted">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#gas_service" class="btn btn-success" name="modal">
              Request Service</button>
            </div>            
          </section>
          </div>
    <form method="GET" >
    <div class="modal fade" id="tow_service" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Tow Truck - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_tow"> <!-- id="selected_car_OC"> -->
                  {% for row in No_Cars %}
                  <option name="no_cars">{{row}}</option>
                  {% endfor %}
                  {% for row in Car_Names %}
                  <option value={{row.1}} >{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="Tow_select_car" type="submit" value="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" name="T_make" class="validate" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="T_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="T_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="Tow_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="flat_tire" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Flat Tire - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_FT" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="FT_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" placeholder = "Make" name="FT_make" type = "text" class="validate">
                <input style="float:right; width:51%;" placeholder="Model" name="FT_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="FT_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="FT_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="lockout" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Lockout - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_L" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="L_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" name="L_make" class="validate" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="L_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="L_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="L_info_car" type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="jump_start" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Jump Start - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_JS" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="JS_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" class="validate" name="JS_make" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="JS_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="JS_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="JS_info_car" type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div> 

    <div class="modal fade" id="gas_service" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Gas Service - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="GS_car" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="GS_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" class="validate" name="GS_make" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="GS_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="GS_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="GS_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>       
        </form>

        </main>

        <div class="hidden-sm-up" style="margin-top:-75px; width:100%;">
        <h2 style="margin-left:5px; margin-top:0px;"">Emergency Services</h2>
        <div style="margin-left:0px" class="table-responsive">
            <table style="margin-left:0px; margin-right:0px; width:100%;" class="table table-striped">
                <tbody style="margin-left:0px; margin-right:0px; width:100%;">
                <tr style="margin-right:0px; padding:0px; margin-bottom:0px; width:100%;">
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Tow Truck</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_tow_service" class="btn btn-success" name="modal">Request</button>
                  <br><br>
                  <span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="margin-bottom:0px; padding:0px;">
                  <img src="{% static 'DashPorter/Tow_Truck.png' %}" style="margin:0px; margin-left:0px; margin-bottom:0px; padding:0px; float:right;"
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Flat Tire</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_flat_tire" class="btn btn-success" name="modal">Request</button>
                  <br><br>
                  <span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Tire_Change.png' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Lockout</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_lockout" class="btn btn-success" name="modal">Request</button>
                  <br><br>
                  <span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Other_Logo.jpg' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Jump Start</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_jump_start" class="btn btn-success" name="modal">Request</button>
                  <br><br><span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Battery.jpg' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Gas Service</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_gas_service" class="btn btn-success" name="modal">Request</button>
                  <!-- Request</button> -->
                  <br><br><span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Gas_Change.png' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
    <form method="GET" >
    <div class="modal fade" id="mobile_tow_service" role="dialog" 
    style="padding:0px; height:600px;">
        <div 
        style="padding:0px; margin:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;" 
        class="modal-dialog modal-lg"> 
          <div class="modal-content" 
          style="margin:0px; margin-top:0px; padding:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px; margin-bottom:0px;" class="modal-header">
                <button type="button" 
                  style="margin-top: 0px; margin-right:10px;" class="close" data-dismiss="modal">&times;</button>
                  <h5 style="margin-top:0px; text-align:left; margin-left:0px;" class="modal-title">Enter Vehicle Information</h5>
              </div>              
              <div class="modal-body" 
                style="margin:0px; padding-left:0px; padding-bottom:0px; margin-bottom:0px; padding-top:0px;">
                <div style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;" class="col-sm-12">
                <label style="margin-top:0px;" for="sel1">Select</label><br>
                <div class="dropdown" style="width:50%; display: inline;">
                <select class="form-control" style="width:60%; display: inline; margin-left:0px; margin-right:5px;" name="selected_car_tow"> <!-- id="selected_car_OC"> -->
                  {% for row in No_Cars %}
                  <option name="no_cars">{{row}}</option>
                  {% endfor %}
                  {% for row in Car_Names %}
                  <option value={{row.1}} >{{row.0}}</option>
                  {% endfor %}
                </select>  
               </div>
                <input style="float:right; margin-top:0px; margin-right:-20px; height:calc(2.25rem + 2px);" 
                class="btn btn-primary" name="Tow_select_car" type="submit" value="Select">
              </div>
                <p style="float:left; margin-top:10px; margin-bottom:0px; margin-left:15px;">
                <b>OR</b> add new car information: </p>
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:15px; width:70%;" type = "text" 
                name="T_make" class="validate" placeholder = "Make">
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:15px; width:70%;" placeholder="Model" name="T_model" type="text" class="validate">        
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:15px; width:70%;" placeholder="Year" name="T_year" type="text" class="validate"><br>   
                <input style="text-align:center; margin-top:15px; margin-bottom:10px; margin-right:0px; margin-left:15px;" 
                class="btn btn-success" name="Tow_info_car" 
                type="submit" value ="Add New Car">
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="mobile_flat_tire" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Flat Tire - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_FT" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="FT_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" placeholder = "Make" name="FT_make" type = "text" class="validate">
                <input style="float:right; width:51%;" placeholder="Model" name="FT_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="FT_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="FT_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="mobile_lockout" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Lockout - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_L" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="L_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" name="L_make" class="validate" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="L_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="L_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="L_info_car" type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="mobile_jump_start" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Jump Start - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="selected_car_JS" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="JS_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" class="validate" name="JS_make" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="JS_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="JS_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="JS_info_car" type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div> 

    <div class="modal fade" id="mobile_gas_service" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Gas Service - Select Car to Be Serviced</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
                  <div class="dropdown">
                <label for="sel1">Select Car</label>
                <select class="form-control" style="width:75%;" name="GS_car" id="sel1">
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-primary" name="GS_select_car" type="submit" value ="Select Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> enter your car information: </p>
                <input style="float:right; width:51%;" type = "text" class="validate" name="GS_make" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="GS_model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="GS_year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="GS_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>       
        </form>

              </tbody>
            </table>
          </div>
          </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
