
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- MATERIALIZE STARTS HERE -->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->    
    <link type="text/css" rel="stylesheet" 
    href = "{% static 'DashPorter\materialize_edited.css' %}"
    media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- MATERIALIZE ENDS -->
    <link rel="icon" href="../../favicon.ico">

    <title>Edit Profile - DashPorter</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Local CSS -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social.css">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <body style="margin-bottom:0px;">
    
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button style="margin-left:10px;" class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">DashPorter</a>
      <!-- <img src="Images/Logo.jpg" style="float:left; width:40px !important; display:block; margin-bottom:0px; margin-top:0px; margin-right:50px;"> -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-car">Add Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="" name="log_out" href="/logout">Log Out</a>
          </li>          
        </ul>
        </div>
        <form class="form-inline mt-2 mt-md-0 hidden-sm-down" method="GET" style="margin-top:50px;">
          <button class="btn btn-outline-success my-2 my-sm-0" style="margin-top:30px;" type="submit">Routine Maintenance</button>
        </form>
    </nav>   
  <!-- MOBILE VS WEB -->
    <!-- Margin-Top: 30px for mobile, 80 px for web -->


    <!-- WEB CONTAINER DIV -->
    <div class="col-md-4" style="float:left; margin-left:50px; margin-top:80px;">
        <h1 style="text-align:left; margin-bottom:0px;">Edit Profile </h1>
      <form class="form-signin" method="POST" style="margin-top:0px; margin-bottom:5px;">{% csrf_token %}
        <!-- <img src="Images/Logo.jpg" style="width:200px !important; margin-left:50px !important; margin-bottom:0px; margin-top:0px;"> -->
        <!-- <img src="Images/blank_profile.png" style="float:left; width:40px !important; margin-bottom:0px; margin-top:0px; margin-right:50px;"> -->
        <!-- <h2 style="text-align:center;">{{Name}}</h2> -->
        <br>
        <label style="margin-bottom:0px;" for="first_name">First Name</label>
        <label style="margin-bottom:0px; margin-left:162px" for="last_name">Last Name</label>
        <br>
        <input style="width:47%;" placeholder="Enter New" value="{{First_Name}}" id="first_name" name="first_name" type="text" class="validate">
        <input style="margin-left:20px; width:47%;" 
        placeholder="Enter New" value="{{Last_Name}}" id="last_name" name="last_name" type="text" class="validate">
        <label style="margin-bottom:0px;" for="new_email">Email/Username</label>
        <input style="margin-top:0px;" placeholder="Enter New" value="{{Email}}" name="new_email" type="text" class="validate">        
        <label style="margin-bottom:0px;" for="new_number">Phone Number</label>
        <input style="margin-top:0px;" placeholder="Enter New" value="{{Number}}" name="new_number" type="text" class="validate">        
        <label style="margin-bottom:0px;" for="password">Change Password</label>        
        <input placeholder="New Password" name="p_word_1" type="password" class="validate">        
        <input placeholder="Re-type New Password" name="p_word_2" type="password" class="validate">        
        <br><br>
        <div style="margin-top:5px; margin:auto;">       
        <input type="submit" class="btn btn-block btn-social btn-primary" value="Save Changes" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" name="edit_profile_btn" >
        </div>
      </form>
    </div>
    <div class="col-md-6" style="float:right; margin-top: 145px;">
          <h2 style="text-align:left; margin-bottom:20px;">Your Cars</h2>    
          {%for car_row in Cars %}
          <h4 style="text-align:left;">{{car_row.0}}</h4>
          <p style="margin-bottom:0px;">Make: {{car_row.1}}</p>
          <p style="margin-bottom:0px;">Model: {{car_row.2}}</p>
          <p>Year: {{car_row.3}}</p>
          {% endfor %}

        <input data-toggle="modal" data-target="#change_car" type="button" class="btn btn-block btn-social btn-primary" value="Add or Remove Cars" 
        style="width:50%; margin-top:35px; margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" 
        name="s-login" >
        <p>{{Too_Many}}</p>
    <!-- SHOULD OPEN MODAL TO ADD OR REMOVE CARS -->
    </div>    
     <form method="GET">
    <div class="modal fade" id="change_car" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Add or Remove Cars</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <div style="margin-bottom:10px;" class="col-sm-12">
              <div class="dropdown">
                <label for="sel1">Select Car to Remove</label>
                <select class="form-control" style="width:75%;" name="selected_car" id="selected_car">
                  {% for row in No_Cars %}
                  <option>{{row}}</option>
                  {% endfor %}                  
                  {% for row in Car_Names %}
                  <option value={{row.1}}>{{row.0}}</option>
                  {% endfor %}
                </select>  
                <input style="float:right; margin-top:-37px;" class="btn btn-danger" name="remove_car_btn" type="submit" value="Remove Car">
               </div>
              </div>
                <p style="float:left; margin-top:10px; margin-left:15px;"><b>OR</b> Add a Car:</p>
                <input style="float:right; width:51%;" type = "text" name="make" class="validate" placeholder = "Make">
                <input style="float:right; width:51%;" placeholder="Model" name="model" type="text" class="validate">        
                <input style="float:right; width:51%;" placeholder="Year" name="year" type="number" class="validate">   
                <input style="margin-top:30px; margin-right:0px; margin-left:400px; float:right;" class="btn btn-primary" name="add_car_btn" 
                type="submit" value ="Add Car">
              </div>
          </div>
        </div>
      </div>
      </form>
    <!-- MOBILE CONTAINER DIV -->
    <div class="container hidden-sm-up" id="mobile" style="margin-bottom:30px !important; width:300px; margin-top:30px;">
      <form class="form-signin" action="#" method="POST" style="margin-top:0px; margin-bottom:5px;">
        <!-- <img src="Images/Logo.jpg" style="width:200px !important; margin-left:50px !important; margin-bottom:0px; margin-top:0px;"> -->
        <img src="Images/blank_profile.png" style="float:left; width:50px !important; margin-bottom:0px; margin-top:0px; margin-right:20px;">
        <h2 style="text-align:left;">Profile Name</h2>
        <br>
        <input placeholder="First Name" id="first_name" type="text" value="First Name" class="validate">        
        <input placeholder="Last Name" id="first_name" type="text" value="Last Name" class="validate">
        <input placeholder="Email/Username" id="first_name" value="Email" type="text" class="validate">   
        <input placeholder="Password" id="first_name" type="text" class="validate">        
        <input placeholder="Re-type Password" id="first_name" type="text" class="validate">        
        <!-- <input placeholder="Password" id="first_name" type="text" value="••••••••" class="validate">                      -->
        <br><br>
        <div style="margin-top:5px; margin:auto;">       
        <input type="submit" class="btn btn-block btn-social btn-primary" value="Save Changes" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" name="s-login" >
        </div>
      </form>
    </div>

 
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
