{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- MATERIALIZE STARTS HERE -->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->    
    <link type="text/css" rel="stylesheet" 
    href = "{% static 'DashPorter\materialize_edited.css' %}"
    media="screen,projection"/>
    
     <!-- href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- MATERIALIZE ENDS -->
    <link rel="icon" href="../../favicon.ico">

    <title>Add a Car - DashPorter</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Local CSS -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social.css">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

<!--       <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

 -->     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--   <style>
    nav {height:60px;}
  </style>
 -->  </head>

    <body style="margin-bottom:0px;">
    
<!--     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>     -->

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button style="margin-left:10px;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">DashPorter</a>
      <div class="collapse navbar-collapse" id="navbar">      
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/add-car">Add Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="" name="log_out" href="/logout">Log Out</a>
          </li>          
        </ul>
        </div>
        <!-- <img src="Images/Logo.jpg" style="float:center; width:40px !important; margin-right:425px; display:block;">  -->
         <!-- margin-bottom:0px; margin-top:0px; margin-right:50px;"> -->
        <form class="form-inline mt-2 mt-md-0 hidden-sm-down" method="GET" style="margin-top:50px;">
          <button class="btn btn-outline-success my-2 my-sm-0" style="margin-top:30px;" type="submit">Routine Maintenance</button>
        </form>
    </nav>  


    <script type="text/javascript">
      function ValidateForm()
      {
        var make=document.forms["Car"]["make"].value;
        var model=document.forms["Car"]["model"].value;
        var year=document.forms["Car"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
    </script>
    <!-- WEB CONTAINER DIV -->
    <div class="container hidden-sm-down" id="web" 
      style="margin-bottom:30px !important; width:345px; margin-top:70px;">
      <form name="Car" onsubmit="return ValidateForm()" class="form-signin" action="#" method="GET" 
      style="margin-top:0px; margin-bottom:5px; margin:auto;">
        <!-- <img src="Images/Logo.jpg" style="width:200px !important; margin-left:50px !important; margin-bottom:0px; margin-top:0px;"> -->
        <h2 style="text-align:center;">Enter Car Information</h2>
        <br>
        <h3 style="text-align:center;">License Plate #</h3>
        <input style="margin:auto; text-align:center;" placeholder="Enter Make" name="make" type="text" class="validate">
        <h3 style="text-align:center;">VIN #</h3>
        <input style="margin:auto; text-align:center;" placeholder="Enter Model" name="model" type="text" class="validate">
        <h3 style="text-align:center;">Color</h3>
        <input style="margin:auto; text-align:center;" placeholder="Enter Year" name="year" type="number" class="validate">                
        <h3 style="text-align:center;">Picture</h3>
        <input style="margin:auto; text-align:center;" placeholder="Enter Year" name="car_picture" type="file" class="validate">                
        <br><br>
        <!-- <input style="" name="username" type="text" id="inputusername" class="form-control" placeholder="Username or Email" required autofocus> -->
        <!-- <br> -->
        <!-- <input style="margin-top:5px; margin-bottom:20px;" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
        <div style="margin:auto;">       
        <!-- <input type="submit" class="btn btn-block btn-social btn-primary" value="Add Car" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:#616FE6;" name="s-login" > -->
        <input type="submit" class="btn btn-block btn-primary" value="Add Car" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" name="add_car_btn" >
        <p>{{car_added}}</p>
        <p>{{Too_Many}}</p>
        <p>{{Empty_Input}}</p>
        </div>
      </form>              
    </div>
    <!-- MOBILE CONTAINER DIV -->
    <div class="container hidden-sm-up" id="mobile" style="margin-bottom:30px !important; width:300px; 
    margin-top:20px;">
      <form name="Car" onsubmit="return ValidateForm()" class="form-signin" action="#" method="GET" style="margin-top:0px; margin-bottom:5px;">
        <!-- <img src="Images/Logo.jpg" style="width:200px !important; margin-left:50px !important; margin-bottom:0px; margin-top:0px;"> -->
        <h3 style="text-align:left;">Add New Car to Profile</h3>
        <br>
        <h4>Make</h4>
        <input placeholder="Enter Make"  name="make" type="text" class="validate">
        <h4>Model</h4>        
        <input placeholder="Enter Model"  name="model" type="text" class="validate">        
        <h4>Year</h4>
        <input placeholder="Enter Year"  name="year" type="number" class="validate">        
        <div style="margin:auto;">       
        <input type="submit" class="btn btn-block btn-primary" value="Add Car" style="margin:auto; text-align:center; font-size:20px; height:45px; margin-left:0px; background-color:grey;" name="add_car_btn">
        <p>{{Empty_Input}}</p>
        </div>
      </form>
    </div>

 
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
