{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--Import materialize.css-->    
    <link type="text/css" rel="stylesheet" 
    href = "{% static 'DashPorter\materialize_edited.css' %}"
    media="screen,projection"/>
    <!-- BOOTSTRAP -->
    <link href="{% static 'DashPorter\bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <script src="{% static 'DashPorter\bootstrap.min.js' %}"></script>

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- {% load staticfiles %} -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
<!--       <button style="margin-left:10px;" class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 -->
    <a class="navbar-brand" href="#">DashPorter</a>
    </nav>   
    <script type="text/javascript">
      function T_ValidateForm()
      {
        var make=document.forms["Tow"]["make"].value;
        var model=document.forms["Tow"]["model"].value;
        var year=document.forms["Tow"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function FT_ValidateForm()
      {
        var make=document.forms["Flat"]["make"].value;
        var model=document.forms["Flat"]["model"].value;
        var year=document.forms["Flat"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function L_ValidateForm()
      {
        var make=document.forms["Lockout"]["make"].value;
        var model=document.forms["Lockout"]["model"].value;
        var year=document.forms["Lockout"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function JS_ValidateForm()
      {
        var make=document.forms["JumpStart"]["make"].value;
        var model=document.forms["JumpStart"]["model"].value;
        var year=document.forms["JumpStart"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function GS_ValidateForm()
      {
        var make=document.forms["GasService"]["make"].value;
        var model=document.forms["GasService"]["model"].value;
        var year=document.forms["GasService"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      // MOBILE JAVASCRIPT STARTS HERE
      function M_T_ValidateForm()
      {
        var make=document.forms["M_Tow"]["make"].value;
        var model=document.forms["M_Tow"]["model"].value;
        var year=document.forms["M_Tow"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function M_FT_ValidateForm()
      {
        var make=document.forms["M_Flat"]["make"].value;
        var model=document.forms["M_Flat"]["model"].value;
        var year=document.forms["M_Flat"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function M_L_ValidateForm()
      {
        var make=document.forms["M_Lockout"]["make"].value;
        var model=document.forms["M_Lockout"]["model"].value;
        var year=document.forms["M_Lockout"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function M_JS_ValidateForm()
      {
        var make=document.forms["M_JumpStart"]["make"].value;
        var model=document.forms["M_JumpStart"]["model"].value;
        var year=document.forms["M_JumpStart"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }
      function M_GS_ValidateForm()
      {
        var make=document.forms["M_GasService"]["make"].value;
        var model=document.forms["M_GasService"]["model"].value;
        var year=document.forms["M_GasService"]["year"].value;
      if (make==null || make=="", model==null || model=="", year==null || year=="")
        {
          alert("Please fill in all required fields");
          return false;
        }
      }

    </script>

    <div class="container-fluid">
      <div class="row">

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-1 pt-3" style="margin-left:60px; margin-top:120px;">
          <div class="responsive hidden-sm-down">
          <h2>Emergency Services</h2>
          <!-- <div class="hidden"> -->
          <section class="row text-center placeholders" style="margin-left:-10px;">
            <div class="col-6 col-sm-2 placeholder" style="text-align:center; margin-right:30px; padding-right:0px;">
            <!-- {% load staticfiles %} -->
              <img style="margin-bottom:15px;" 
              src="{% static 'DashPorter/Tow_Truck.png' %}" width="159" class="img-fluid" alt="Generic placeholder thumbnail">
              <h4>Tow Truck</h4>
              <div style="margin:auto;" class="text-muted">Service Description, ETA, Price Estimate</div>
              <!-- <input class="btn btn-success" type="submit" name="oil_change_btn" value="Request Service"> -->
              <button style="margin-top:10px; " type="button" data-toggle="modal" data-target="#tow_service" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="margin-right:30px;">
              <img style="margin-bottom:15px;"  
              src="{% static 'DashPorter/Tire_Change.png' %}" width="200" height="200" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Flat Tire</h4>
              <div style="margin:auto;" class="text-muted">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#flat_tire" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="margin-right:30px;">
              <img style="margin-bottom:15px;"
              src="{% static 'DashPorter/Lockout_Square.png' %}" width="200" height="150" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Lockout</h4>
              <div class="text-muted" style="margin:auto;">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#lockout" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="text-align:center; margin-right:30px;">
              <img style="margin-bottom:15px;"
              src="{% static 'DashPorter/Battery.jpg' %}" width="200" height="150" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Jump Start</h4>
              <div class="text-muted" style="margin:auto;">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#jump_start" class="btn btn-success" name="modal">
              Request Service</button>
            </div>
            <div class="col-6 col-sm-2 placeholder" style="">
              <img style="margin-bottom:15px;" src="{% static 'DashPorter/Gas_Change.png' %}" width="200" height="200" class="img-fluid " alt="Generic placeholder thumbnail">
              <h4>Gas Service</h4>
              <div style="margin:auto;" class="text-muted">Service Description, ETA, Price Estimate</div>
              <button style="margin-top:10px;" type="button" data-toggle="modal" data-target="#gas_service" class="btn btn-success" name="modal">
              Request Service</button>
            </div>            
          </section>
          </div>

    <form method="GET" name="Tow" onsubmit="return T_ValidateForm()">
    <div class="modal fade" id="tow_service" role="dialog" style="width:500px; padding-right: 0px;">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px; padding-left:0px; padding-right:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Tow Truck Service</h4>
              </div>              
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <p style="float:left; margin-top:10px; margin-left:10px;">Enter vehicle information: </p>
                <input style="float:right; width:200px; margin-right:10px;" placeholder = "Make" name="make" type = "text" class="validate">
                <input style="float:right; margin-left:200px; width:200px; margin-right:10px;" placeholder="Model" name="model" type="text" class="validate">        
                <input style="float:right; width:200px; margin-right:10px;" placeholder="Year" name="year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:15px; margin-left:400px; float:right;" class="btn btn-primary" name="Tow_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
      </div>
    </form>
    <form method="GET" name="Flat" onsubmit="return FT_ValidateForm()">    
    <div class="modal fade" id="flat_tire" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Flat Tire Service</h4>
              </div>
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <p style="float:left; margin-top:10px; margin-left:10px;">Enter vehicle information: </p>
                <input style="float:right; width:200px; margin-right:10px;" placeholder = "Make" name="make" type = "text" class="validate">
                <input style="float:right; margin-left:200px; width:200px; margin-right:10px;" placeholder="Model" name="model" type="text" class="validate">        
                <input style="float:right; width:200px; margin-right:10px;" placeholder="Year" name="year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:15px; margin-left:400px; float:right;" class="btn btn-primary" name="FT_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
    </div>
    </form>

    <form method="GET" name="Lockout" onsubmit="return L_ValidateForm()">        
    <div class="modal fade" id="lockout" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Lockout Service</h4>
              </div>        
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <p style="float:left; margin-top:10px; margin-left:10px;">Enter vehicle information: </p>
                <input style="float:right; width:200px; margin-right:10px;" placeholder = "Make" name="make" type = "text" class="validate">
                <input style="float:right; margin-left:200px; width:200px; margin-right:10px;" placeholder="Model" name="model" type="text" class="validate">        
                <input style="float:right; width:200px; margin-right:10px;" placeholder="Year" name="year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:15px; margin-left:400px; float:right;" class="btn btn-primary" name="L_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
    </div>
    </form>

    <form method="GET" name="JumpStart" onsubmit="return JS_ValidateForm()">        
    <div class="modal fade" id="jump_start" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Jump Start Service</h4>
              </div>
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <p style="float:left; margin-top:10px; margin-left:10px;">Enter vehicle information: </p>
                <input style="float:right; width:200px; margin-right:10px;" placeholder = "Make" name="make" type = "text" class="validate">
                <input style="float:right; margin-left:200px; width:200px; margin-right:10px;" placeholder="Model" name="model" type="text" class="validate">        
                <input style="float:right; width:200px; margin-right:10px;" placeholder="Year" name="year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:15px; margin-left:400px; float:right;" class="btn btn-primary" name="JS_info_car" 
                type="submit" value ="Enter Information">
              </div>
          </div>
        </div>
    </div>
    </form> 

    <form method="GET" name="GasService" onsubmit="return GS_ValidateForm()">        
    <div class="modal fade" id="gas_service" role="dialog">
        <div style="margin-top:0px; padding-bottom:0px; margin-bottom:0px;" class="modal-dialog modal-lg"> 
          <div class="modal-content" style="margin-top:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 style="text-align:left; margin-left:10px;" class="modal-title">Gas Service</h4>
              </div>
              <div class="modal-body" style="margin-bottom:0px; height:300px;">
                <p style="float:left; margin-top:10px; margin-left:10px;">Enter vehicle information: </p>
                <input style="float:right; width:200px; margin-right:10px;" placeholder = "Make" name="make" type = "text" class="validate">
                <input style="float:right; margin-left:200px; width:200px; margin-right:10px;" placeholder="Model" name="model" type="text" class="validate">        
                <input style="float:right; width:200px; margin-right:10px;" placeholder="Year" name="year" type="text" class="validate">   
                <input style="margin-top:30px; margin-right:15px; margin-left:400px; float:right;" class="btn btn-primary" name="GS_info_car" 
                type="submit" value ="Enter Information">
              </div>                            
          </div>
        </div>
      </div>       
      </form>

        </main>

<!--     MOBILE STARTS HERE -->
<!--     MOBILE STARTS HERE -->
<!--     MOBILE STARTS HERE -->
<!--     MOBILE STARTS HERE -->
        <div class="hidden-sm-up" style="margin-top:-90px; width:100%;">
        <h2 style="margin-left:5px; margin-top:0px;"">Emergency Services</h2>
        <div style="margin-left:0px" class="table-responsive">
            <table style="margin-left:0px; margin-right:0px; width:100%;" class="table table-striped">
                <tbody style="margin-left:0px; margin-right:0px; width:100%;">
                <tr style="margin-right:0px; padding:0px; margin-bottom:0px; width:100%;">
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Tow Truck</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_tow_service" class="btn btn-success" name="modal">Request</button>
                  <br><br>
                  <span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="margin-bottom:0px; padding:0px;">
                  <img src="{% static 'DashPorter/Tow_Truck.png' %}" style="margin:0px; margin-left:0px; margin-bottom:0px; padding:0px; float:right;"
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Flat Tire</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_flat_tire" class="btn btn-success" name="modal">Request</button>
                  <br><br>
                  <span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Tire_Change.png' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Lockout</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_lockout" class="btn btn-success" name="modal">Request</button>
                  <br><br>
                  <span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Other_Logo.jpg' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Jump Start</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_jump_start" class="btn btn-success" name="modal">Request</button>
                  <br><br><span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Battery.jpg' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;"><b>Gas Service</b><button 
                  style="float:right; margin-right:10px; padding-left:5px; padding-right:5px; height:50%; margin-top:0px; font-size:12px;"
                  type="button" data-toggle="modal" data-target="#mobile_gas_service" class="btn btn-success" name="modal">Request</button>
                  <!-- Request</button> -->
                  <br><br><span class="text-muted">Cost: $30 ETA: 30 minutes</span>
                  </td>
                  <td style="padding:0px"><img src="{% static 'DashPorter/Gas_Change.png' %}" style="margin:0px; padding:0px; float:right;" 
                  width="75" height="75" class="img-fluid" alt="Generic placeholder thumbnail"></td>
                </tr>
                <tr>
                  <td style="margin-bottom:0px; padding-bottom:0px;">
<!--                   <form action="/signup">
                  <input type="submit" class="btn btn-primary" value="Create Account" style="margin:auto; text-align:center; 
                  font-size:15px; height:40px; margin-top:5px; margin-left:-5px; background-color:grey;" name="create_account" >          
                  </form>
 -->                  <!-- Request</button> -->
                </tr>




    <form method="GET" name="M_Tow" onsubmit="return M_T_ValidateForm()">        
    <div class="modal fade" id="mobile_tow_service" role="dialog" 
    style="padding:0px; height:350px; width:225px; padding-bottom:0px;">
        <div 
        style="padding:0px; margin:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;" 
        class="modal-dialog modal-lg"> 
          <div class="modal-content" 
          style="margin:0px; margin-top:0px; padding:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px; margin-bottom:0px;" class="modal-header">
                <button type="button" 
                  style="margin-top: 0px; margin-right:10px;" class="close" data-dismiss="modal">&times;</button>
                  <h5 style="margin-top:0px; text-align:left; margin-left:0px;" class="modal-title">Tow Truck Service</h5>
              </div>              
              <div class="modal-body" 
                style="margin:0px; padding-bottom:0px; margin-bottom:0px; padding-top:0px; padding-right:0px;">
                <p style="float:left; margin-top:10px; margin-bottom:0px; margin-left:30px;">
                <b>Enter vehicle information: </p>
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" type = "text" 
                name="make" class="validate" placeholder = "Make">
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Model" 
                name="model" type="text" class="validate">        
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Year" 
                name="year" type="text" class="validate"><br>   
                <input style="text-align:center; margin-top:15px; margin-bottom:10px; margin-right:0px; margin-left:30px;" 
                class="btn btn-success" name="Tow_info_car" 
                type="submit" value ="Submit">
              </div>
          </div>
        </div>
      </div>
    </form>

    <form method="GET" name="M_Flat" onsubmit="return M_FT_ValidateForm()">  
    <div class="modal fade" id="mobile_flat_tire" role="dialog" 
    style="padding:0px; height:350px; width:225px;">
        <div 
        style="padding:0px; margin:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;" 
        class="modal-dialog modal-lg"> 
          <div class="modal-content" 
          style="margin:0px; margin-top:0px; padding:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px; margin-bottom:0px;" class="modal-header">
                <button type="button" 
                  style="margin-top: 0px; margin-right:10px;" class="close" data-dismiss="modal">&times;</button>
                  <h5 style="margin-top:0px; text-align:left; margin-left:0px;" class="modal-title">Tire Change Service</h5>
              </div>              
              <div class="modal-body" 
                style="margin:0px; padding-left:0px; padding-bottom:0px; margin-bottom:0px; padding-top:0px;">
                <p style="float:left; margin-top:10px; margin-bottom:0px; margin-left:30px;">
                <b>Enter vehicle information: </b></p>
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" type = "text" 
                name="make" class="validate" placeholder = "Make">
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Model" 
                name="model" type="text" class="validate">        
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Year" 
                name="year" type="text" class="validate"><br>   
                <input style="text-align:center; margin-top:15px; margin-bottom:10px; margin-right:0px; margin-left:30px;" 
                class="btn btn-success" name="FT_info_car" 
                type="submit" value ="Submit">
              </div>
          </div>
        </div>
      </div>
    </form>

    <form method="GET" name="M_Lockout" onsubmit="return M_L_ValidateForm()">
    <div class="modal fade" id="mobile_lockout" role="dialog" 
    style="padding:0px; height:600px;">
        <div 
        style="padding:0px; margin:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;" 
        class="modal-dialog modal-lg"> 
          <div class="modal-content" 
          style="margin:0px; margin-top:0px; padding:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px; margin-bottom:0px;" class="modal-header">
                <button type="button" 
                  style="margin-top: 0px; margin-right:10px;" class="close" data-dismiss="modal">&times;</button>
                  <h5 style="margin-top:0px; text-align:left; margin-left:0px;" class="modal-title">Lockout Service</h5>
              </div>   
              <div class="modal-body" 
                style="margin:0px; padding-bottom:0px; margin-bottom:0px; padding-top:0px; padding-right:0px;">
                <p style="float:left; margin-top:10px; margin-bottom:0px; margin-left:30px;">
                <b>Enter vehicle information: </p>
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" type = "text" 
                name="make" class="validate" placeholder = "Make">
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Model" 
                name="model" type="text" class="validate">        
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Year" 
                name="year" type="text" class="validate"><br>   
                <input style="text-align:center; margin-top:15px; margin-bottom:10px; margin-right:0px; margin-left:30px;" 
                class="btn btn-success" name="L_info_car" 
                type="submit" value ="Submit">
              </div>
          </div>
        </div>
      </div>        
    </form>

    <form method="GET" name="M_JumpStart" onsubmit="return M_JS_ValidateForm()"> 
    <div class="modal fade" id="mobile_jump_start" role="dialog" 
    style="padding:0px; height:600px;">
        <div 
        style="padding:0px; margin:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;" 
        class="modal-dialog modal-lg"> 
          <div class="modal-content" 
          style="margin:0px; margin-top:0px; padding:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px; margin-bottom:0px;" class="modal-header">
                <button type="button" 
                  style="margin-top: 0px; margin-right:10px;" class="close" data-dismiss="modal">&times;</button>
                  <h5 style="margin-top:0px; text-align:left; margin-left:0px;" class="modal-title">Jump Start Service</h5>
              </div>              
              <div class="modal-body" 
                style="margin:0px; padding-bottom:0px; margin-bottom:0px; padding-top:0px; padding-right:0px;">
                <p style="float:left; margin-top:10px; margin-bottom:0px; margin-left:30px;">
                <b>Enter vehicle information: </b></p>
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" type = "text" 
                name="make" class="validate" placeholder = "Make">
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Model" 
                name="model" type="text" class="validate">        
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:30px; width:70%;" placeholder="Year" 
                name="year" type="text" class="validate"><br>   
                <input style="text-align:center; margin-top:15px; margin-bottom:10px; margin-right:0px; margin-left:30px;" 
                class="btn btn-success" name="JS_info_car" 
                type="submit" value ="Submit">
              </div>
        </div>
      </div>     
    </div>  
    </form>

    <form method="GET" name="M_GasService" onsubmit="return M_GS_ValidateForm()">        
    <div class="modal fade" id="mobile_gas_service" role="dialog" 
    style="padding:0px; height:600px;">
        <div 
        style="padding:0px; margin:0px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;" 
        class="modal-dialog modal-lg"> 
          <div class="modal-content" 
          style="margin:0px; margin-top:0px; padding:0px; margin-bottom:0px; padding-bottom:0px;">
              <div style="margin-top:0px; margin-bottom:0px;" class="modal-header">
                <button type="button" 
                  style="margin-top: 0px; margin-right:10px;" class="close" data-dismiss="modal">&times;</button>
                  <h5 style="margin-top:0px; text-align:left; margin-left:0px;" class="modal-title">Gas Service</h5>
              </div>              
              <div class="modal-body" 
                style="margin:0px; padding-left:0px; padding-bottom:0px; margin-bottom:0px; padding-top:0px;">
                <p style="float:left; margin-top:10px; margin-bottom:0px; margin-left:15px;">
                <b>Enter vehicle information: </p>
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:15px; width:70%;" type = "text" 
                name="make" class="validate" placeholder = "Make">
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:15px; width:70%;" placeholder="Model" 
                name="model" type="text" class="validate">        
                <input style="text-align:center; margin-top:0px; margin-bottom:0px; margin-left:15px; width:70%;" placeholder="Year" 
                name="year" type="text" class="validate"><br>   
                <input style="text-align:center; margin-top:15px; margin-bottom:10px; margin-right:0px; margin-left:15px;" 
                class="btn btn-success" name="GS_info_car" 
                type="submit" value ="Submit">
              </div>
          </div>
        </div>
      </div>                 
      </form>

              </tbody>
            </table>
          </div>
          </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
